.Card {
    height: 449px;
    width: 1200px;
    border-radius: 8px;
    background-color: white;
    padding: 24px;
    margin: 85px auto;

    & > h2 {
        font-size: 23px;
        line-height: 27px;
        margin-bottom: 24px;
    }

    .Days {
        border-radius: 8px 0 0 0;
        border: 1px solid #E5E8E1;
    }
}

.SelectorBox {
    display: flex;
    flex-flow: column;
    position: absolute;
    z-index: 9999;
    top: 40px;
    height: 152px;
    width: 338px;

    .Triangle {
        flex: 0 1 auto;
        background: transparent;
        margin: auto;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid black;
        box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.12);
    }

    .Contents {
        flex: 1 1 auto;
        padding: 16px;
        background-color: #FFFFFF;
        box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        > div {
            display: flex;
            margin-bottom: 10px;

            h4 {
            }

            img {
                cursor: pointer;
            }
            img[src*="delete"] {
                margin-right: 16px;
                margin-left: auto;
            }
        }

        select {
            width: 100%;
            font-size: 14px;
            padding: 9px 16px;

            option {
                padding: 60px 0;
            }
        }
        
    }
}

.DisplayNone {
    display: none;
}
.DisplayFlex {
    display: flex;
}

.Selector {
    color: white;
    opacity: 1;
}


