.Day {
    display: flex;
    height: 45px;

    .Title {
        background-color: #F7F8F6;
        flex: 1 1 111px;
        display: flex;
        align-items: center;
        padding-left: 16px;
        border-right: 1px solid #E5E8E1;
        border-bottom: 1px solid #E5E8E1;

        h4 {
            font-size: 16px;
            line-height: 14px;
        }
    }

    .Data {
        flex: 1 1 100%;
        border-bottom: 1px solid #E5E8E1;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
    }

    .CircleContainer {
        flex: 1 1 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        .EmptyCircle {
            cursor: pointer;
            background: #91B846;
            opacity: 0;
            width: 24px;
            height: 24px;
            border-radius: 50%;

            &:hover {
                opacity: 0.2;
            }
        }

        .Selector {
            color: white;
            opacity: 1;
        }

        .Circle {
            cursor: pointer;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            color: white;
            background: #91B846;
            font-size: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .Interval {
            width: 2px;
            height: 12px;
            background: #91B846;
            cursor: pointer;

            &:hover {
                border-radius: 50%;
                width: 24px;
                height: 24px;
                opacity: 0.2;
            }
        }
    }

    .CircleGradient {
        background: linear-gradient(to right, white 50%, #EFF0EE 51%, #EFF0EE 100%);
    }

    .Disabled {
        background: #EFF0EE;
    }

    
}