.Labels {
    display: flex;

    h5 {
        flex: 1 1 130px;
        font-size: 11px;
    }

    div {
        flex: 1 1 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        span {
            font-size: 10px;
        }
    }
}